<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css"
        id="theme-styles">
    <script src="https://kit.fontawesome.com/f0a8f33bd2.js" crossorigin="anonymous"></script>
    <style>
        .container {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            padding: 10%;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <div class="navbar-brand" href="#">
            <img src="static/logo.png" width="40" height="40" class="d-inline-block align-top" alt="" loading="lazy">
            Namaste-App
        </div>
    </nav>
    <div class="container">
        <a class="btn btn-primary btn-block btn-lg" href="static/namasteapp.apk" download>Download Apk&emsp;<i
                class="fas fa-download"></i></a>
    </div>
</body>

</html>