<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>End Call</title>

    <style>
        .endScreen .container {
            text-align: center;
        }

        .endScreen .gohome,
        .endScreen .gohome:focus {
            color: rgb(0, 123, 255);
            background-color: white;
        }

        .endScreen-hidden {
            display: none;
        }
    </style>
</head>

<body>
    <div class="endScreen endScreen-hidden">
        <div class="container mt-5">
            <h4 class="mb-5">You left the meeting</h4>
            <button class="btn btn-primary mr-2">Rejoin</button>
            <button class="btn btn-primary gohome">Go Home</button>
        </div>
    </div>
</body>

</html>


<script>
    function rejoinMeet() {
        window.location.reload()
    }

    function goHome() {
        window.location.replace("/")
    }
</script>